<html xlmns="http://www.thymeleaf.org">

<head>

  <title> Müşteri Ekle</title>
    <!--
    Bootstrap4 paketini getirmek için kullandığımız link
    (Title altına tanımlanması önemli yoksa sayfaların yüklenmesi gecikebiliyor.)
    -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="images/0.png" width="50" height="50" >
        <a class="navbar-brand" th:href="@{/home}">ProDENT Clinic Professional </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Ana Sayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/allEmployees}">Müşteriler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/allPayments}">Ödemeler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-justified" th:href="@{/allAppointments}">Randevular</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>

<div class = "container">
  <h2>Müşteri Ekle</h2>
  <hr/>
    <!-- Bu kısımda tablomuzu oluşturduk ve bağlantılar ile ilgili olan parametreleri mySQL'e kaydediyoruz. -->
  <form th:action="@{/saveEmployee}" th:object ="${employee}" method="POST">
      <input type="text" th:field="*{musteriTc}" placeholder="T.C Kimlik Numarası"
           class="form-control col-4 mb-4">
      <input type="text" th:field="*{musteriAd}" placeholder="İsim"
      class="form-control col-4 mb-4">
      <input type="text" th:field="*{musteriSoyad}" placeholder="Soyisim"
           class="form-control col-4 mb-4">
      <input type="text" th:field="*{musteriAdres}" placeholder="Adres"
           class="form-control col-4 mb-4">
      <input type="text" th:field="*{musteriTelefon}" placeholder="Telefon"
           class="form-control col-4 mb-4">
      <input type="text" th:field="*{musteriCinsiyet}" placeholder="Cinsiyet"
           class="form-control col-4 mb-4">
      <input type="text" th:field="*{musteriDogumTarihi}" placeholder="Doğum Tarihi"
           class="form-control col-4 mb-4">
      <input type="text" th:field="*{musteriKanGrubu}" placeholder="Kan Grubu"
           class="form-control col-4 mb-4">
      <button class="btn btn-primary" type="submit">Kaydet</button>
      <!-- Bu kısım hem kaydedip hem değiştirmeye yarıyor. musteriController bağlantısı ile repository özelliği olarak
      hem güncelleme hem de kayıt işlemi için aynı buton kullanılabilir -->
      <input type="hidden" th:field="*{musteriID}" />
  </form>
    <hr/>
    <!-- Bu buton ile tüm müşterilerin olduğu sayfaya href bağlantısı ile geri dönüş sağladık. -->
    <a th:href="@{/allEmployees}">Geri Dön</a>

</div>

</body>




</html>